body {
	background: #444;
	width: 800px;
	margin: 0 auto;
	}

header {
	position: relative;
	padding: 0;
	margin: 0 0;
	background: #95A9B1;
	
}
section {

	background: #ffffff;
	
}
syntax
aside {
   width: 45px;
	height: 90px;
	position: fixed;
	left: 0px;
	top: 200px;
	border: 1px solid black;
}